<mat-grid-list cols="4" rowHeight="700px">
  <mat-grid-tile *ngFor="let movie of movies">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{movie.title}}</mat-card-title>
        <mat-card-subtitle>{{movie.director}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/peliculas/{{movie.episode_id}}.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{movie.opening_crawl}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">PERSONAJES</button>
            </mat-card-actions>
    </mat-card>  
  </mat-grid-tile>
</mat-grid-list>
