.tile{
    width: 1200px;
    background-color: #151515;
    margin: 0 auto;
}

nav{
    background-color: #000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    border-top: 1px solid #343434;
    padding: 20px 5px;
    input{
        color: #b8b8b8;
        margin: 0 auto;
        display: block;
        background: #151515;
        border: solid 1px white;
        padding: 8px 16px;
        font-weight: 800;
        font-size: 1.6em;
        border-radius: 5px;
    }
}

.titulo{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    img{
        max-width: 203px;
    }
}

p{
    font-size: 1em;
    line-height: 1.5em;
}

.title{
    background-color: #282727;
    padding: 12px 16px 5px 16px;
    border-radius: 4px;
    line-height: 17px;
    margin: 30px 0 30px 0;
}

h2{
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
    margin: 0;
    color: #666;
}

h1{
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    color: #ddd;
    text-transform: uppercase;
    margin: 0;
}

main{
    background: rgba(21, 21, 21, 0.67);
}

.container{
    width: 80%;
    margin: 0 auto 35px auto;
    background-color: #151515;
    padding: 1px 0 40px 0;
}

.content{
    display: flex;
    .content-detail{
        padding: 0 46px;
    }
    .button{
        background-color: #282727;
        color: #edec51;
        margin: 56px 20px 10px 0;
        width: 222px;
        padding: 24px 50px 20px;
        font-size: 1.2em;
        box-sizing: border-box;
        position: relative;
        transition: 0.3s;
        cursor: pointer;
        display: block;
        border-radius: 5px 5px 0 0;
        text-decoration: none;
    }
    .button::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        border-right: 6px solid transparent;
        border-top: 6px solid #282727;
        width: 50%;
        border-radius: 0 0 0 5px;
        transition: 0.3s;
    }

    .button::after{
        content: '';
        position: absolute;
        right: 0;
        bottom: -6px;
        border-left: 6px solid transparent;
        border-top: 6px solid #282727;
        width: 15%;
        border-radius: 0 0 5px 0;
        transition: 0.3s;
    }

    .button:hover{
        background-color: #333;
    }

    .button:hover:after,  .button:hover:before{
        border-top-color: #333;
    }

    .simbol{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }

    .simbol:after{
        content: "";
        display: block;
        position: absolute;
        width: 47px;
        height: 47px;
        opacity: 0.06;
        z-index: 1;
        background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/decal-a67af2e7d567.png);
        background-size: 300% 200%;
        left: 20px;
        bottom: -12px;
        top: -12px;
        bottom: auto;
    }
}