<header class="titulo">
  <img src="/assets/titulo.png" alt="">
</header>

<nav>  
    <input placeholder="Búsqueda" [(ngModel)]="busqueda" value="">
</nav>
<main>
  <div class="container" *ngFor="let movie of movies | filter:busqueda ">
    <section class="tile" >
      <div class="title">
        <h1>{{movie.title}}</h1>
        <h2>{{movie.director}} {{movie.release_date | date:'yyyy'}}</h2>
      </div>
      <div class="content">
        <img [src]="'/assets/peliculas/'+movie.episode_id+'.webp'" width="351" alt="">
        <div class="content-detail">
          <img [src]="'/assets/titulos/'+movie.episode_id+'.webp'" width="253" alt="">
          <p> {{movie.opening_crawl}} </p>
          <a class="button">
            <div class="simbol"></div>
            PERSONAJES
          </a>
        </div>
      </div>
    </section>
  </div>
</main>


