<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
  <h1>Información del personaje</h1>
  <ul>
    <li><b>Nombre: </b>{{data.name}}</li>
    <li><b>Alto: </b>{{data.height}}</li>
    <li><b>Masa: </b>{{data.mass}}</li>
    <li><b>Color de cabello: </b>{{data.hair_color}}</li>
    <li><b>Color de piel: </b>{{data.skin_color}}</li>
    <li><b>Color ojos: </b>{{data.eye_color}}</li>
    <li><b>Año nacimimiento: </b>{{data.birth_year}}</li>
    <li><b>Genero: </b>{{data.gender}}</li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>CERRAR</button>
</div>