<header class="titulo">
    <img src="/assets/titulo.png" alt="">
  </header>
  
  <nav>  
      <ul>
        <li >
          <a href="/">PELICULAS</a>
          <span ></span>
        </li>
        <li class="selected">
          <a href="">PERSONAJES</a>
          <span ></span>
        </li>
      </ul>
  </nav>
  <main>
    <div class="container">
      <div class="search">
        <input placeholder="BÚSQUEDA"  value="">
      </div>
    </div>
    <div class="container" >
      <section class="tile" >
        <div class="title">
          <h1>pelicula</h1>
          <h2>director 1990</h2>
        </div>
        <div class="content">
          
          <div class="content-detail">
            
            <p> ffjjrjrrrkkgghhjjkkll;kkjhhhggggffrreeddffffgghhtty </p>
            <a class="button" (click)="openDialog()">
              <div class="simbol"></div>
              ESPECIES
            </a>
            <a class="button">
              <div class="simbol"></div>
              NAVES
            </a>
            <a class="button">
              <div class="simbol"></div>
              VEHICULOS
            </a>
            <a class="button">
              <div class="simbol"></div>
              PELICULAS
            </a>
          </div>
        </div>
      </section>
    </div>
  </main>
  
  
  
