<header class="titulo">
    <img src="/assets/titulo.png" alt="">
  </header>
  <nav>  
      <ul>
        <li >
          <a href="/">PELICULAS</a>
          <span ></span>
        </li>
        <li class="selected">
          <a href="">PERSONAJES</a>
          <span ></span>
        </li>
      </ul>
  </nav>
  <main>
    <div class="container">
      <div class="search">
        <input placeholder="BÚSQUEDA" [(ngModel)]="busqueda" value="">
      </div>
    </div>
    <div class="container" *ngFor="let character of characters | filter:busqueda ">
      <section class="tile" >
        <div class="title">
          <h1>{{character.name}}</h1>
          <h2>{{character.birth_year}}</h2>
        </div>
        <div class="content">
          <div class="content-detail">
            <p> {{character.opening_crawl}} </p>
            <a class="button" (click)="openDialog(character)">
              <div class="simbol"></div>
              DETALLE
            </a>
          </div>
        </div>
      </section>
    </div>
  </main>
  
  
  
