<header class="titulo">
    <img src="/assets/titulo.png" alt="">
  </header>
  
  <nav>  
      <ul>
        <li class="selected">
          <a href="">PELICULAS</a>
          <span ></span>
        </li>
      </ul>
  </nav>
  <main>
    <div class="container">
      <div class="search">
        <input placeholder="BÚSQUEDA"  value="">
      </div>
    </div>
    <div class="container" >
      <section class="tile" >
        <div class="title">
          <h1>pelicula</h1>
          <h2>director 1990</h2>
        </div>
        <div class="content">
          <img src="/assets/peliculas/1.webp" width="351" alt="">
          <div class="content-detail">
            <img src="/assets/titulos/1.webp" width="253" alt="">
            <p> ffjjrjrrrkkgghhjjkkll;kkjhhhggggffrreeddffffgghhtty </p>
            <a class="button" routerLink="/personajes/1">
              <div class="simbol"></div>
              PERSONAJES
            </a>
          </div>
        </div>
      </section>
    </div>
  </main>
  
  
  
